
.courseContainer{
    display: flex;
    width: 100%;
    position: sticky;
}
.courseStatus{
    background-color: #000;
    color: white;
    position: sticky;
}
.totalCourse{
    margin: 50px;
    padding: 25px;
}